<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Simple Calculator</title>
  </head>
  <body>
    <div id="app">
      <input type="number" v-model="firstOperand" placeholder="Ex: 1" />
      <br />
      <select v-model="operator">
        <option value="add">+</option>
        <option value="subtract">-</option>
        <option value="multiply">x</option>
        <option value="divide">/</option>
      </select>
      <br />
      <input type="number" v-model="secondOperand" placeholder="Ex: 2" />
      <br />

      <span v-if="answer">Answer: {{ answer }}</span>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/script.js"></script>
  </body>
</html>
